@media screen and (max-width:1680px){
    .img{
       left:150px;
       top:750px;
       height:400px;
       width:700px;
    }
    .transition{
        top:160px;
    }
    .header2{
       margin-right:0px;
    }
    body, html {
        overflow-x: hidden;
    }
    ul{
        left:200px;

    }
    .mail{
        right:20px;
    }
    .descript{
        left:700px;
    }
    .res{
        left:100px;
    }
    .specialist{
        left:150px;
    }
    .line2{
        left:175px;
    }
    .me{
        left:200px;
    }
    .skills{
        left:700px;
    }
    .work{
        height:3800px;
    }
    .last-descript{
       top:3300px;
       left:300px;
    }
    .ecran3{
        top:2600px;
    }
    .last{
        top:2600px;
    }
    .landing-descript{
        top:2100px;
        left:300px;
    }
    .descript-name2{
        left:0px;
    }
    .virst2{
        left:35px;
    }
    .line6{
        left:0px;
    }
    .ecran2{
        top:1400px;
        left:200px;
    }
    .Landing-img{
        top:1425px;
        left:215px;
    }
    .restorant-descript{
        left:300px;
        top:900px;
    }
    .ecran{
        left:50%;
        transform:translateX(-50%);
    }
    .restaurant{
        left:50%;
        transform:translateX(-50%);
    }
    .restorant-descript{
        left:50%;
        transform:translateX(-50%);
    }
    .ecran2{
        left:50%;
        transform:translateX(-50%);
    }
    .ecran3{
        left:50%;
        transform:translateX(-50%);
    }
    .Landing-img{
        left:50%;
        transform:translateX(-50%);
    }
    .last{
        left:50%;
        transform:translateX(-50%);
    }
    .transition2{
        left:0px;
    }
    .last-descript{
        left:50%;
        transform:translateX(-50%);
    }
    .landing-descript{
        left:50%;
        transform:translateX(-50%);
    }
}
@media screen and (max-width:1440px){
    .img{
       left:150px;
       top:750px;
       height:400px;
       width:700px;
    }
    .transition{
        top:160px;
    }
    .header2{
       margin-right:0px;
    }
    body, html {
        overflow-x: hidden;
    }
    ul{
        left:0;

    }
    .mail{
        right:20px;
    }
    .descript{
        left:500px;
    }
    .res{
        left:100px;
    }
    .specialist{
        left:150px;
    }
    .line2{
        left:175px;
    }
    .me{
        left:200px;
    }
    .skills{
        left:500px;
    }
    .work{
        height:3800px;
    }
    .last-descript{
       top:3300px;
       left:300px;
    }
    .ecran3{
        top:2600px;
    }
    .last{
        top:2600px;
    }
    .landing-descript{
        top:2100px;
        left:300px;
    }
    .descript-name2{
        left:0px;
    }
    .virst2{
        left:35px;
    }
    .line6{
        left:0px;
    }
    .ecran2{
        top:1400px;
        left:200px;
    }
    .Landing-img{
        top:1425px;
        left:215px;
    }
    .restorant-descript{
        left:300px;
        top:900px;
    }
    .ecran{
        left:50%;
        transform:translateX(-50%);
    }
    .restaurant{
        left:50%;
        transform:translateX(-50%);
    }
    .restorant-descript{
        left:50%;
        transform:translateX(-50%);
    }
    .ecran2{
        left:50%;
        transform:translateX(-50%);
    }
    .ecran3{
        left:50%;
        transform:translateX(-50%);
    }
    .Landing-img{
        left:50%;
        transform:translateX(-50%);
    }
    .last{
        left:50%;
        transform:translateX(-50%);
    }
    .transition2{
        left:0px;
    }
    .last-descript{
        left:50%;
        transform:translateX(-50%);
    }
    .landing-descript{
        left:50%;
        transform:translateX(-50%);
    }
}
@media screen and (max-width:1024px){
    ul{
        grid-template-columns: repeat(4, 150px);
    }
    .line9{
        visibility:hidden;

    }
    .soc{
     top:80px;
     left:45%;
     transform:translateY(-45%);
    }
    footer{
        ul{
            grid-template-columns: repeat(4, 150px); 
        }
    }
    .skills{
        left:400px;
    }
    .ecran{
        left:50%;
        transform:translateX(-50%);
    }
    .ecran2{
        left:50%;
        transform:translateX(-50%);
    }
    .ecran3{
        left:50%;
        transform:translateX(-50%);
    }
    .restaurant{
        left:50%;
        transform:translateX(-50%);
    }
    .Landing-img{
        left:50%;
        transform:translateX(-50%);
    }
    .last{
        left:50%;
        transform:translateX(-50%);
    }
    .transition2{
        left:0px;
    }
}