@media screen and (max-width: 1600px) {
  .poisk {
    visibility: hidden;
  }
  header ul {
    left: 240px;
    grid-gap: 90px;
  }
  .photo_slider_css2 {
    height: 600px;
  }
  .photo_slider_css {
    height: 930px;
  }
  .kvadrat1 {
    right: 150px;
  }
  .gravpix {
    right: 20px;
  }
  .kvadrat4 {
    right: 250px;
  }
  .kvadrat3 {
    right: 350px;
  }
  .kvadrat2 {
    right: 450px;
  }
  .pod-items1 {
    left: 420px;
  }
  .pod-items2 {
    left: 570px;
  }
  .pod-items3 {
    left: 420px;
  }
  .pod-items4 {
    left: 570px;
  }
  .mini-text {
    left: 30px;
    top: 250px;
    width: 270px;
  }
  .mini-text2 {
    left: 30px;
    top: 500px;
    width: 270px;
  }
  .mini-text3 {
    left: 30px;
    top: 740px;
    width: 270px;
  }
  .text-items1 {
    left: 30px;
  }
  .text-items2 {
    left: 30px;
  }
  .text-items3 {
    left: 30px;
  }
  .winning {
    left: 30px;
  }
  .Easy {
    left: 30px;
  }
  .photo-text2 {
    left: 30px;
    width: 250px;
  }
  .photo-text3 {
    left: 30px;
  }
  .post-text2 {
    left: 30px;
    width: 250px;
  }
  .post-text3 {
    left: 30px;
  }
  .post-text4 {
    left: 30px;
    width: 250px;
  }
  .baners-text1 {
    left: 20px;
  }
  .baners-text2 {
    left: 20px;
  }
  .baners-text4 {
    left: 20px;
    width: 250px;
  }
  .big-text4 {
    width: 250px;
  }
  .photo-text1 {
    left: 30px;
  }
}
@media screen and (max-width: 1200px) {
  header ul {
    left: 220px;
    grid-gap: 60px;
  }
  .start-items2 .big-text2{
	  width:250px;
	  font-size:25px;
}
  
  .mini-text {
    left: 10px;
  }
  .mini-text2{
	  left:10px;
  }
  .mini-text3{
	  left:10px;
  }
  .answered{
	  left:10px;
  }
  .winning{
	  left:10px;
	  width:230px;
  }
  .Easy{
	  left:10px;
	  width:230px;
  }
  .all-gallery{
	  left:100px;
  }
  .photo-text1{
	  left:10px;
  }
  .photo-text3{
	  left:10px;
  }
  .photo-text2{
	  left:10px;
  }
  .post-text1{
	  left:20px;
  }
  .post-text3{
	  left:10px;
	  width:200px;
  }
  .post-text4{
	  left:10px;
  }
  .baners-text1{
	  left:10px;
	  width:230px;
  }
  .baners-text2{
	  left:10px;
	  width:230px;
  }
  .baners-text3{
	  left:10px;
  }
  .baners-text4{
	  left:10px;
  }
  .pod-items1{
	  left:220px;
  }
  .pod-items2{
	left:370px;
}
.pod-items3{
	left:220px;
}
.pod-items4{
	left:370px;
}
.big-text4{
	font-size:25px;
	width:200px;
}
.big-text3{
	font-size:25px;
	width:200px;
}
.big-text{
	font-size:25px;
	width:200px;
}
.text-items2{
	left:10px;
	width:250px;
}
.text-items1{
	left:10px;
	width:200px;
}
.text-items3{
	left:10px;
	width:200px;
}
}
